body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to right, rgb(20, 147, 220), rgb(17, 54, 71));
    margin:0;
    padding: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    height: 100vh;
}
.box{
    color: white;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(0, 0, 0, 0.6);
    padding:15px;
    border-radius: 15px;
    width: 30%;
    padding-bottom: 2.5rem;
    
}
.boxLista{
    color: white;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(0, 0, 0, 0.6);
    padding:15px;
    border-radius: 15px;
    width: 40%;
    padding-bottom: 2.5rem;
    
}
.boxEmprestimo{
    color: white;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(0, 0, 0, 0.6);
    padding:15px;
    border-radius: 15px;
    width: 30%;
    padding-bottom: 2.5rem;
    
}
.boxCadslivro{
    color: white;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(0, 0, 0, 0.6);
    padding:15px;
    border-radius: 15px;
    width: 40%;
    padding-bottom: 2.5rem;
    
}
.boxCadsusuario{
    color: white;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(0, 0, 0, 0.6);
    padding:15px;
    border-radius: 15px;
    width: 40%;
    padding-bottom: 2.5rem;
    
}

.boxBuscar{
    color: white;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(0, 0, 0, 0.6);
    padding:15px;
    border-radius: 15px;
    width: 40%;
    padding-bottom: 3.5rem;
    
}
fieldset{
    border: 3px solid dodgerblue;
}
legend{
    border: 1px solid dodgerblue;
    padding: 10px;
    text-align: center;
    background-color: dodgerblue;
    border-radius: 8px;
}
.inputBox{
    position: relative;
}
.inputUser{
    background: none;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    color: white;
    font-size: 15px;
    width: 100%;
    letter-spacing: 2px;
}
.labelInput{
    position: absolute;
    top: 0px;
    left: 0px;
    pointer-events: none;
    transition: .5s;
}
.inputUser:focus ~ .labelInput,
.inputUser:valid ~ .labelInput{
    top: -20px;
    font-size: 12px;
    color: dodgerblue;
}
#data_nascimento{
    border: none;
    padding: 8px;
    border-radius: 10px;
    outline: none;
    font-size: 15px;
    
}
#submit{
    background-image: linear-gradient(to right,rgb(0, 92, 197), rgb(90, 20, 220));
    width: 100%;
    border: none;
    padding: 15px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    border-radius: 10px;
    
}
#enviar{
    background-image: linear-gradient(to right,rgb(0, 92, 197), rgb(90, 20, 220));
    width: 100%;
    border: none;
    padding: 15px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    border-radius: 10px;
    

}
#submit:hover{
    background-image: linear-gradient(to right,rgb(0, 80, 172), rgb(80, 19, 195));
}

nav ul {
    list-style: none; 
    display: flex; 
    justify-content: center; 
    
    
}

nav li {
    margin: 0 30px; 
    font-size: 15pt;
    padding: 5px;
    color: white;
    
    
}
.link{
    color: white;
    text-decoration: none;

}
.img{
    margin:auto;
    display: block;
    border-radius: 20px;
    text-align: center;
   
} 

.Text{
    margin: auto;
    display: block;
    color: white;
    margin: 5%;
    font-size: 18pt;
}
.tabela{
    color: rgb(255, 255, 255);
    font-size:16pt;
    text-decoration: underline;
    border:1px solid white;
    text-align: center;
    
}
.descricao{

    color: rgb(142, 172, 236);
    border:1px solid white;
    text-align: center;
    
}
.main {
    flex-grow: 1;
}
.footer {
    position:fixed;
    bottom: 0%;
    left: 0;
    width: 100%;
    background-color: #f0f0f0;
    text-align: center;
    border:0;
    height: 20px;

}.box {
    position: relative;
    min-height: 100vh;
  }
